div {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
}

span {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    display: inline-block;
}